.NavBar-container {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  margin-bottom: var(--m);
}
.NavBar-LinkTextMain {
  bottom: 12%;

  color: var(--text, #b1cbd0);
  text-align: center;
  font-family: Bruno Ace;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  margin: 0px 0px 0px 0px;
}

.NavBar-LinkText {
  color: var(--text, #b1cbd0);
  text-align: center;
  font-family: Coda;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  margin: 0px 0px 0px 0px;
  bottom: 10%;
}

.NavBar-blockMain {
  height: 64px;
  flex: 1 1 430px;
  display: inline-flex;
  justify-content: center;
  align-items: end;
  position: relative;
}
.NavBar-blockMain:hover .NavBar-PrimaryRectangle {
  transform: scaleY(1);
}

.NavBar-PrimaryRectangle {
  position: absolute;
  background-color: var(--primary, #499ca9);
  content: "";
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease-in-out;
  transform: scaleY(0.2);
  transform-origin: bottom;
  opacity: 0.8;
}

.NavBar-block {
  height: 64px;
  flex: 1 1 300px;
  display: inline-flex;
  justify-content: center;
  align-items: end;
  position: relative;
}

.NavBar-SecondaryRectangle {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--secondary, #b1cbd0);
  transition: transform 0.3s ease-in-out;
  transform: scaleY(0.2);
  transform-origin: bottom;
  opacity: 0.8;
}

.NavBar-block:hover .NavBar-SecondaryRectangle {
  transform: scaleY(1);
}

.NavBar-block:hover .NavBar-PrimaryRectangle {
  transform: scaleY(1);
}
